@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'fot-udmarugo-large-pr6n', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-l {
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 300;
  }

  .font-m {
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 500;
  }

  .font-db {
    font-size: 17px;
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 600;
  }

  .font-db-title {
    font-size: 22px;
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 700;
  }

  .font-db-btn {
    font-size: 17px;
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 700;
  }

  .font-name {
    font-size: 15px;
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 600;
  }

  .font-title {
    color: #00803a;
    font-size: 32px;
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 700;
  }

  .font-b {
    font-family: 'fot-udmarugo-large-pr6n', sans-serif;
    font-weight: 700;
  }
}

/* スクロール関連のスタイルを追加 */
html,
body {
  overscroll-behavior-y: none;
}

/* スクロール可能なコンテナに適用するクラス */
.scrollable {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.common_panel_style {
  border-radius: 20;
  position: 'relative';
  background-color: rgba(255, 255, 255, 0.8);
}

/* Tailwind でスクロールバーを非表示にする */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gem_points {
  border-radius: 50%;
  background-size: cover;
  background-image: url('/images/img_star_circle.png');
  object-fit: cover;
  overflow: hidden;
}

.collection_self {
  background-color: white;
  border: 2px solid yellow;
  box-shadow: 0 0 0 2px yellow;
}
